.portfolio-nav
{
	height:70px;
	line-height:50px;
	width: 100%;
	background: #ffffff;
}

.affix {
  z-index: 1030;
  margin-top:-440px;
} 

#filters {
	margin:1%;
	padding:0;
	list-style:none;
}

	#filters li {
		display:inline-block;
	}
	
	#filters li span {
		font-family: 'Cabin', sans-serif;
		cursor: pointer;
		color: #292D30;
		font-size: 19px;
		background: #ffffff;
		border: 3px solid #292D30;
		margin: 5px;
		padding: 5px;
		text-align:center;
		text-transform: uppercase;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	}
	
	#filters li span.active {
		color: #797B87;
		border: 3px solid #797B87;
	}
 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:23%;
	margin: 0 auto;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
/*		background: #666;*/
		cursor:pointer;
	}

	.portfolio img {
		max-width:100%;
		position: relative;
	}
	
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}

		.portfolio .label-bg {
			background: #e95a44;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px;
			}

.modal img {
	width: 100%;
}

/* Changes # items per row */
@media screen and (max-width: 2500px) {
	#portfoliolist .portfolio {
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
	}
}

@media screen and (max-width: 2100px) {
	#portfoliolist .portfolio {
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}

@media screen and (max-width: 1800px) {
	#portfoliolist .portfolio {
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 1280px) {
	#portfoliolist .portfolio {
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 660px) {
	#portfoliolist .portfolio {
		width: 100%;
	}

	header .intro-text .name {
    font-size: 4em;
    font-weight: 600;
	}

	header .intro-text .skills {
	    font-size: 1em;
	}

	header {
		padding-top:75px;
		padding-bottom:75px;
	}

}